<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>anim_carrot_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{209,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,151}}</string>
				<key>sourceSize</key>
				<string>{209,151}</string>
			</dict>

			<key>anim_carrot_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,163},{209,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,151}}</string>
				<key>sourceSize</key>
				<string>{209,151}</string>
			</dict>

			<key>anim_carrot_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,326},{209,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{209,151}}</string>
				<key>sourceSize</key>
				<string>{209,151}</string>
			</dict>

			<key>anim_slashLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,274},{127,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{127,117}}</string>
				<key>sourceSize</key>
				<string>{127,117}</string>
			</dict>

			<key>anim_slashRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,134},{142,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{142,128}}</string>
				<key>sourceSize</key>
				<string>{142,128}</string>
			</dict>

			<key>circleOrange.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,0},{157,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{157,122}}</string>
				<key>sourceSize</key>
				<string>{157,122}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{512,512}</string>
			<key>textureFileName</key>
			<string>anim.png</string>
			</dict>
		</dict>
</plist>