<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gobj_game0_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,95},{107,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,107}}</string>
				<key>sourceSize</key>
				<string>{107,107}</string>
			</dict>

			<key>gobj_game0_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{452,603},{74,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{74,108}}</string>
				<key>sourceSize</key>
				<string>{74,108}</string>
			</dict>

			<key>gobj_game0_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,656},{119,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{119,119}}</string>
				<key>sourceSize</key>
				<string>{119,119}</string>
			</dict>

			<key>gobj_game0_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,575},{123,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{123,73}}</string>
				<key>sourceSize</key>
				<string>{123,73}</string>
			</dict>

			<key>gobj_game0_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,783},{114,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,83}}</string>
				<key>sourceSize</key>
				<string>{114,83}</string>
			</dict>

			<key>gobj_game0_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,399},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{99,99}}</string>
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>

			<key>gobj_game1_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,774},{104,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,104}}</string>
				<key>sourceSize</key>
				<string>{104,104}</string>
			</dict>

			<key>gobj_game1_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,258},{81,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{81,81}}</string>
				<key>sourceSize</key>
				<string>{81,81}</string>
			</dict>

			<key>gobj_game1_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,453},{129,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{129,114}}</string>
				<key>sourceSize</key>
				<string>{129,114}</string>
			</dict>

			<key>gobj_game1_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{356,758},{97,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,97}}</string>
				<key>sourceSize</key>
				<string>{97,97}</string>
			</dict>

			<key>gobj_game1_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{127,656},{110,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{110,110}}</string>
				<key>sourceSize</key>
				<string>{110,110}</string>
			</dict>

			<key>gobj_game1_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,283},{136,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{136,79}}</string>
				<key>sourceSize</key>
				<string>{136,79}</string>
			</dict>

			<key>gobj_game1_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,570},{100,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,180}}</string>
				<key>sourceSize</key>
				<string>{100,180}</string>
			</dict>

			<key>gobj_game2_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,863},{96,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,96}}</string>
				<key>sourceSize</key>
				<string>{96,96}</string>
			</dict>

			<key>gobj_game2_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,190},{85,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{85,60}}</string>
				<key>sourceSize</key>
				<string>{85,60}</string>
			</dict>

			<key>gobj_game2_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,944},{87,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,63}}</string>
				<key>sourceSize</key>
				<string>{87,63}</string>
			</dict>

			<key>gobj_game2_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,874},{114,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,62}}</string>
				<key>sourceSize</key>
				<string>{114,62}</string>
			</dict>

			<key>gobj_game2_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,83},{79,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{79,79}}</string>
				<key>sourceSize</key>
				<string>{79,79}</string>
			</dict>

			<key>gobj_game2_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,370},{130,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{130,75}}</string>
				<key>sourceSize</key>
				<string>{130,75}</string>
			</dict>

			<key>gobj_game2_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{231,0},{102,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{102,81}}</string>
				<key>sourceSize</key>
				<string>{102,81}</string>
			</dict>

			<key>gobj_game2_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,453},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{109,109}}</string>
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>

			<key>gobj_game3_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,570},{105,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,78}}</string>
				<key>sourceSize</key>
				<string>{105,78}</string>
			</dict>

			<key>gobj_game3_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,506},{89,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,89}}</string>
				<key>sourceSize</key>
				<string>{89,89}</string>
			</dict>

			<key>gobj_game3_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,298},{98,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,88}}</string>
				<key>sourceSize</key>
				<string>{98,88}</string>
			</dict>

			<key>gobj_game3_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,783},{114,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{114,108}}</string>
				<key>sourceSize</key>
				<string>{114,108}</string>
			</dict>

			<key>gobj_game3_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{361,394},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>

			<key>gobj_game3_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{461,719},{67,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{67,93}}</string>
				<key>sourceSize</key>
				<string>{67,93}</string>
			</dict>

			<key>gobj_game3_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{144,283},{108,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,108}}</string>
				<key>sourceSize</key>
				<string>{108,108}</string>
			</dict>

			<key>gobj_game3_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,0},{89,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,75}}</string>
				<key>sourceSize</key>
				<string>{89,75}</string>
			</dict>

			<key>gobj_game3_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{223,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{223,87}}</string>
				<key>sourceSize</key>
				<string>{223,87}</string>
			</dict>

			<key>gobj_game4_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{462,820},{63,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{63,173}}</string>
				<key>sourceSize</key>
				<string>{63,173}</string>
			</dict>

			<key>gobj_game4_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,95},{160,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,180}}</string>
				<key>sourceSize</key>
				<string>{160,180}</string>
			</dict>

			<key>gobj_game4_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,258},{73,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,79}}</string>
				<key>sourceSize</key>
				<string>{73,79}</string>
			</dict>

			<key>gobj_game4_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,447},{68,137}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{68,137}}</string>
				<key>sourceSize</key>
				<string>{68,137}</string>
			</dict>

			<key>gobj_game4_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,899},{113,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,94}}</string>
				<key>sourceSize</key>
				<string>{113,94}</string>
			</dict>

			<key>gobj_game4_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,89},{98,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,93}}</string>
				<key>sourceSize</key>
				<string>{98,93}</string>
			</dict>

			<key>gobj_game4_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,345},{72,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{72,94}}</string>
				<key>sourceSize</key>
				<string>{72,94}</string>
			</dict>

			<key>gobj_game4_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{358,603},{86,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{86,86}}</string>
				<key>sourceSize</key>
				<string>{86,86}</string>
			</dict>

			<key>gobj_game4_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,210},{98,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{98,80}}</string>
				<key>sourceSize</key>
				<string>{98,80}</string>
			</dict>

			<key>gobj_game4_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,899},{107,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{107,107}}</string>
				<key>sourceSize</key>
				<string>{107,107}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>gobj.png</string>
			</dict>
		</dict>
</plist>