<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui_btnHint_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{986,837},{215,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,133}}</string>
				<key>sourceSize</key>
				<string>{215,133}</string>
			</dict>

			<key>ui_btnHint_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{1213,798},{215,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{215,133}}</string>
				<key>sourceSize</key>
				<string>{215,133}</string>
			</dict>

			<key>ui_btnLeft.png</key>
			<dict>
				<key>frame</key>
				<string>{{607,561},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_btnPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,0},{307,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{307,100}}</string>
				<key>sourceSize</key>
				<string>{307,100}</string>
			</dict>

			<key>ui_btnPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,449},{307,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{307,100}}</string>
				<key>sourceSize</key>
				<string>{307,100}</string>
			</dict>

			<key>ui_btnRight.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,561},{49,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{49,74}}</string>
				<key>sourceSize</key>
				<string>{49,74}</string>
			</dict>

			<key>ui_clear.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,449},{534,192}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{534,192}}</string>
				<key>sourceSize</key>
				<string>{534,192}</string>
			</dict>

			<key>ui_gameOver.png</key>
			<dict>
				<key>frame</key>
				<string>{{1063,443},{452,343}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{452,343}}</string>
				<key>sourceSize</key>
				<string>{452,343}</string>
			</dict>

			<key>ui_howToPlay_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,765},{523,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{523,100}}</string>
				<key>sourceSize</key>
				<string>{523,100}</string>
			</dict>

			<key>ui_howToPlay_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,653},{523,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{523,100}}</string>
				<key>sourceSize</key>
				<string>{523,100}</string>
			</dict>

			<key>ui_levelUp.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{833,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{833,209}}</string>
				<key>sourceSize</key>
				<string>{833,209}</string>
			</dict>

			<key>ui_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,221},{787,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{787,4}}</string>
				<key>sourceSize</key>
				<string>{787,4}</string>
			</dict>

			<key>ui_newRecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{1440,798},{205,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,168}}</string>
				<key>sourceSize</key>
				<string>{205,168}</string>
			</dict>

			<key>ui_playAgain_D.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,877},{481,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{481,100}}</string>
				<key>sourceSize</key>
				<string>{481,100}</string>
			</dict>

			<key>ui_playAgain_U.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,877},{481,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{481,100}}</string>
				<key>sourceSize</key>
				<string>{481,100}</string>
			</dict>

			<key>ui_preGameBubble_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,237},{630,200}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{630,200}}</string>
				<key>sourceSize</key>
				<string>{630,200}</string>
			</dict>

			<key>ui_preGameBugs.png</key>
			<dict>
				<key>frame</key>
				<string>{{1164,0},{267,382}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{267,382}}</string>
				<key>sourceSize</key>
				<string>{267,382}</string>
			</dict>

			<key>ui_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,237},{508,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{508,194}}</string>
				<key>sourceSize</key>
				<string>{508,194}</string>
			</dict>

			<key>ui_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{535,653},{516,172}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{516,172}}</string>
				<key>sourceSize</key>
				<string>{516,172}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>ui.png</string>
			</dict>
		</dict>
</plist>