/*========================================================*/
.blackOverlay{
	position: absolute;
	left: 0px;
	top: 0px;
	width:750px;
	height:500px;
	background-color:rgba(0, 0, 0, 0.75);
}

.blackBackground {
	position: absolute;
	width: 750px;
	height: 500px;
	background-color: #000;
}

.loadingImage {
	position: absolute;
	width: 278px;
	height: 81px;
	top: 209px;
	left: 236px;
	background-image:url("../media/images/loading/F84-loading-bar-bg.png");
}

.loadingBackground {
	position: absolute;
	width: 750px;
	height: 500px;
	background-image:url("../media/images/loading/F84-loading-bg.jpg");
}

.loadingMeter {
	position: absolute;
	width: 222px;
	height: 27px;
	top: 236px;
	left: 264px;
	background-image:url("../media/images/loading/F84-loading-bar.png");
	background-repeat: repeat-x;
}

.loadingLogo {
	position: absolute;
	width: 135px;
	height: 69px;
	top: 180px;
	left: 307px;
}