@font-face {
    font-family: 'Luckiest Guy';
    src: url('../fonts/LuckiestGuy.ttf');
}

@font-face {
    font-family: 'Irish Grover';
    src: url('../fonts/IrishGrover.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'Bowlby One SC';
    src: url('../fonts/BowlbyOneSC-Regular.ttf');
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url('../fonts/SourceSerifPro-Regular.ttf');
}

@font-face {
    font-family: 'The Bold Font';
    src: url('../fonts/TheBoldFont.eot?#iefix') format('embedded-opentype'),  
         url('../fonts/TheBoldFont.woff') format('woff'), 
         url('../fonts/TheBoldFont.ttf')  format('truetype'), 
         url('../fonts/TheBoldFont.svg#TheBoldFont') format('svg');
    font-weight: normal;
    font-style: normal;
}
